.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  border: solid 10px salmon;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 2px 2px 2px black;
}

.section-content {
  flex: 1;
  padding-right: 20px;
}

.section-image-container {
  flex: 0 0 40%;
  max-width: 40%;
}

.section-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
/* Your existing styles */
:root {
  --that-specific-orange: dimgray;
}

.subtitle1,
.subtitle2,
.subtitle3 {
  background-color: var(--that-specific-orange);
  color: salmon;
  text-shadow: 2px 2px 2px black;
}

.mainTitle1,
.mainTitle2 {
  background-color: var(--that-specific-orange);
  color: rgb(237, 115, 102);
  text-shadow: 2px 2px 2px black;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
}

.mainTitle3 {
  background-color: rgb(107, 112, 107);
  color: rgb(247, 106, 90);
  display: inline-block;
  text-shadow: 2px 2px 2px black;
  border: 2px solid black;
  border-radius: 10px;
}

#button1,
#button2,
#button3 {
  background-color: var(--that-specific-orange);
  color: rgb(255, 123, 109);
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;

  font-size: 1.2rem;
  padding: 12px 24px;
  min-width: 150px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#button1:hover,
#button2:hover,
#button3:hover {
  transform: scale(1.05);
  background-color: rgb(255, 123, 109);
  color: var(--that-specific-gray);
}
#sectionDiv1,
#sectionDiv2 {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

#sectionDiv3 {
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(1, 1, 1);
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}
